<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    <h5>Project library</h5>
    {{#if username}}

    <div class="panel-body">
      <p>Username: {{username.local.username}}</p>

    </div>


{{else}}


    <p>Sign in and view your profile!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign in!
      </a>
    </p>

{{/if}}
</div>

<!-- List group -->
<div class="container">
        {{# each project}}
            <!--First row-->
            <div class="row " >
                <!--First column-->
                {{# each this}}
                    <div class="col-lg-6" style="margin-bottom: 2%">

                        <!--Card-->
                        <div class="card pro" style="border-radius: 0px">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title dark-grey-text"><strong>{{ this.projectname}}</strong></h4>
                                <!--Text-->
                                <p>Concept tested:
                                    <span class="badge badge-primary badge-pill" style="background: #007BFF">{{this.concept}}</span>
                                </p>
                                <hr>


                                <a class="pull-left">{{ this.description}}</a>
                                <div class="d-flex justify-content-center">
                                <a class="btn btn-primary" href="/devops/add-to-cart/{{this._id}}" role="button">View project</a>
                            </div>
                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--/.First column-->
                {{/each}}
            </div>
            <!--/.First row-->
        {{/each}}

    </div>





